.input_text {
    width: 100%;
}

.column {
    height: 80px;
}

.userId-column, .id-column{
    width: 10%;
}
.body-column, .title-column {
    width: 40%;
}

@media screen and (max-width: 768px) {
    .userId-column, .id-column{
        width: 3%;
    }
    .body-column, .title-column {
        width: 40%;
    }
}